/* universal star operator */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* css root variables */
:root {
    --red: #E51400;
    --green: #008A00;
    --soft-white: #f1f1f1;
    --main-background: #6A00FF;
}

/* Html and Body Tag */
html {  font-size: 62.5%; }

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    background: var(--main-background);
}